{% load static %}
<!DOCTYPE>
<html>
<head>
    <title>sale</title>
</head>
<body>
    <form action="{% url 'ctest' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <select name="brands" id="brands">
                <option value="benz">奔驰</option>
                <option value="bmw">宝马</option>
                <option value="TSL">特斯拉</option>
                <option value="WL">五菱</option>
            </select>
        </p>
        <p>
            <input type="radio" name="sex" value="0" checked>男
            <input type="radio" name="sex" value="1">女
        </p>
        <p>
            <input type="file" name="pic" id="pic">
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>